.ctrls
  %a{:href => '/events'} 
    (back to events)

%header
  %h1
    Add a new event

- if @event && @event.errors 
  .errors
    ERRORS! 
    - @event.errors.each do |err|
      .err #{err.join}

:ruby
  help_msg = { :starttime => 'e.g "10/20/2011 6:00PM"' ,
  :endtime => 'e.g. "10/21/2011 4:30AM"' }
%form{:action => '/event', :method => 'POST'}
  - [ :title, :description, :address, :starttime, :endtime, :url].each do |k|
    - ky = k.to_s
    - clz = (@event && @event.errors && @event.errors.keys.include?(k)) ? 'fieldWithErrors' :''
    .event_input{:class => clz}
      .lbl
        %label{:for => "event_#{ky}"} #{ky.capitalize}
      - if k == :description
        %textarea{:class => "event", :id => "event_#{ky}", :name => "event[#{ky}]", :value => (@event ? @event.send(ky) : ''), :rows => 5, :cols => 55}
      - else        
        %input{:type => 'text', :class => "event", :id => "event_#{ky}", :name => "event[#{ky}]", :value => (@event ? @event.send(ky) : '') }
      %span.help #{help_msg[k]}
  .clear
  .submit  
    %input{:type => 'submit'}

