!!! 5
%html
  %head
    %meta
    %script{ :src => '/javascripts/queue.min.js' }
    %script{ :src => 'http://code.jquery.com/jquery-1.6.1.min.js' }     
    %script{ :src => '/javascripts/thirdparty/jquery.jscrollpane.min.js'}
    %script{ :src => '/javascripts/thirdparty/jquery.mousewheel.js'}
    %script{ :src => '/javascripts/thirdparty/mwheelIntent.js'}
    %script{ :src => '/javascripts/imageRotator.js' }
    %script{ :src => '/javascripts/romey.js' }
    / [if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %script{:src => "http://use.typekit.com/cra6buh.js" }
    :javascript
      try{Typekit.load();}catch(e){}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/oocss/libraries.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/oocss/template.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/oocss/grids.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/romey.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/jquery.jscrollpane.css'}

    %title #{@title}
  %body  
    %header
      %ul.nav_links
        %li.main_link
          %a big people
        %li.baby_link
          %a small people
        %li.event_link
          %a around town
    #carousel
      .fullpanel
        %section#main.panel
          .line.first
            .unit.size1of4
              .logo.block.first
                %img{:src => '/images/romey_small_logo.png'}
                .co_name #{"romeydesigns.com".upcase}
            - 3.times.each do |ii|
              .unit.size1of4
                .pic.block{:class => "#{(ii==2) ? 'last' : ''}"}
                  - if @images[ii]
                    %img{:src => "#{@images[ii].file.url(:grid)}"}
          .line.last
            - 3.times.each do |ii|
              .unit.size1of4 
                .pic.block{:class => "#{((ii==0) ? 'first' : '')}"}
                  - if @images[ii+3]
                    %img{:src => "#{@images[ii+3].file.url(:grid)}"}
            .unit.size1of4
              .links.block.last
                %ul
                  %li.etsy
                    %a{:target => '_blank', :href => @links[:etsy_main]} shop
                  %li.tw
                    %a{:target => '_blank', :href => @links[:twitter]} tune in
                  %li.fb
                    %a{:target => '_blank', :href => @links[:facebook]} be my friend
        %section#baby.panel
          .line.first
            .unit.size1of4
              .logo.block.first
                %img{:src => '/images/romey_small_logo.png'}
                .co_name #{"romeydesigns.com".upcase}

            - 3.times.each do |ii|
              .unit.size1of4
                .pic.block{:class => "#{(ii==2) ? 'last' : ''}"}
          .line.last
            - 3.times.each do |ii|
              .unit.size1of4 
                .pic.block{:class => "#{((ii==0) ? 'first' : '')}"}
            .unit.size1of4
              .links.block.last
                %ul
                  %li.etsy
                    %a{:target => '_blank', :href => @links[:etsy_baby]} baby shop
                  %li.tw
                    %a{:target => '_blank', :href => @links[:twitter]} tune in
                  %li.fb
                    %a{:target => '_blank', :href => @links[:facebook]} be my friend
          
        %section#events.panel
          .container
            .unit.size1of4
              .logo.block.first
                %img{:src => '/images/romey_small_logo.png'}
                .co_name #{"romeydesigns.com".upcase}
            .unit.size3of4
              .event_list
                %h2 Romey, out on the town
                - if @events.empty?
                  .nothin There's nothing going on for a bit.  Please check back soon for more information about upcoming shows and events.
                - else
                  .scrollPane
                    %ul
                      - @events.each_with_index do |ev, idx|
                        - clz = 'first' if idx == 0 
                        - clz = 'last' if idx == @events.length - 1
                        %li{:class => clz}
                          .event
                            .title #{ev.title}
                            .desc #{ev.description}
                            .starttime #{ev.starttime ? ev.starttime.strftime('%b %e %I:%M%p') : ''} #{ev.endtime ? "- " + ev.endtime.strftime('%I:%M%p'):''}
                            .address 
                              #{ev.address}
                              %a.maplink{:href => ev.map_link, :target => '_blank'} (map)
                            .url 
                              - if ev.url && ev.url.length > 6
                                %a{:target => '_blank', :href => ev.url} #{ev.url.truncate(64)}
            .unit.size1of4
    %footer
      %div
        handmade in san francisco
        .site_credits
          site by
          %a{:href => 'http://www.2rye.com', :target => '_blank'} 2rye.com 

    .ga
      %script
        var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-24314014-1']); _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

