!!! 5
%html
  %head
    %meta
    %script{ :src => 'http://code.jquery.com/jquery-1.6.1.min.js' }     
    %script{ :src => '/javascripts/imageRotator.js' }
    %script{ :src => '/javascripts/romey.js' }

    %script{:src => "http://use.typekit.com/cra6buh.js" }
    :javascript
      try{Typekit.load();}catch(e){}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/oocss/libraries.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/oocss/template.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/oocss/grids.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/stylesheets/romey.css'}

    %title #{@title}
  %body  
    %section#main
      .line.first
        .unit.size1of4
          .logo.block.first
            %img{:src => '/images/romey_small_logo.png'}
            .co_name R O M E Y D E S I G N S . C O M
            
        - 3.times.each do |ii|
          .unit.size1of4
            .pic.block{:class => "#{(ii==2) ? 'last' : ''}"}
              - if @images[ii]
                %img{:src => "#{@images[ii].file.url(:grid)}"}
      .line.last
        - 3.times.each do |ii|
          .unit.size1of4 
            .pic.block{:class => "#{((ii==0) ? 'first' : '')}"}
              - if @images[ii+3]
                %img{:src => "#{@images[ii+3].file.url(:grid)}"}
        .unit.size1of4
          .links.block.last
            .etsy
              %a{:target => '_blank', :href => 'http://etsy.com/shop/RomeyDesigns'} shop
            .tw
              %a{:target => '_blank', :href => 'http://twitter.com/romeydesigns'} tune in
            .fb
              %a{:target => '_blank', :href => 'http://www.facebook.com/pages/Romey-Designs/211002208926771'} be my friend

      // %section#fixed_bg
    %footer
      %div
        handmade in san francisco
        .site_credits
          site by
          %a{:href => 'http://www.2rye.com', :target => '_blank'} 2rye.com 

